{% extends "stocks/base.html" %}
{% block content %}
<div class="base-position">
    <div class="index-stoc-container-wrapper">
        <div class="index-stock-position">
            <div class="formation-container">
                <div class="formation-header formation-header-list greey-color-list">
                    Profil
                </div>
                <div class="account-center-text">
                    <div class="account-grid" id="name_field">
                        <div class="label-container">
                            <div class="day-text-font ">Name : Lukasz</div>
                        </div>
                        <button class="button-account blue-button-color" onclick="editName()">Edit</button>

                    </div>

                    <div class="account-grid" id="name_field_input">
                        <div class="label-container">
                            <label for="name_input" class="day-text-font ">Name:</label>
                            <input type="text" id="name_input">
                        </div>
                        <button class="button-account blue-button-color">Save</button>
                        <button class="button-account red-color" onclick="editNameCancel()">Cancel</button>
                    </div>

                    <div class="account-grid" id="email_field">
                        <div class="label-container">
                            <div class="day-text-font ">Email: luksza@op.pl</div>
                        </div>

                        <button class="blue-button-color button-account" onclick="editEmail()">Edit</button>

                    </div>

                    <div class="account-grid" id="email_field_input">
                        <div class="label-container">
                            <label for="pass" class="day-text-font ">Email:</label>
                            <input type="text" id="email_input">
                        </div>

                        <button class="blue-button-color button-account">Save</button>
                        <button class="button-account red-color" onclick="editEmailCancel()">Cancel</button>
                    </div>

                    <div class="account-grid" id="password_field">
                        <div class="label-container">
                            <div class="day-text-font ">Password: *********</div>
                        </div>
                        <button class="button-account blue-button-color" onclick="changePassword()">Edit</button>

                    </div>
                </div>
                <div>
                    <div class="stock-hit-list">
                        <div class="formation-stock-ticker day-text-font">Komentarze</div>
                    </div>

                </div>
                <div class="list-buttons-container width-75">
                    <div class="entry-item white-background">
                        <div class="entry-item-date mint-color-font  formation-stock-ticker day-text-font ">20.09.2020
                        </div>
                        <div class="darker-greey entry-item-message day-text-font ">Wolumen wiekszy o 157% od średniej
                            tygodniowej.
                        </div>
                        <div
                            class="width-10percent entry-item-date mint-color-font  formation-stock-ticker day-text-font ">
                            X</div>
                    </div>
                    <div class="index-stock-button-container">
                        <button class="button-style button-style-more">
                            pokaż więcej
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="input-top prompt-background" id="promptBox">
        <div class="input-box " id="changePasswordForm">
            <div class="input-container">
                <label for="pass" class="day-text-font ">Old password</label>
                <input type="password" id="oldPass">
            </div>
            <div class="input-container">
                <label for="pass" class="day-text-font ">New password</label>
                <input type="password" id="newPass">
            </div>

            <div class="input-container">
                <label for="pass" class="day-text-font ">Confirm password</label>
                <input type="password" id="confirmNewPass">
            </div>


            <div class="index-stock-button-container">
                <button class="button-style" id="saveButton" onclick="passwordSave()">
                    Save
                </button>

                <button class="button-style" id="cancelButton" onclick="passwordCancel()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock %}