{% load static %}
<!doctype html>
<html class="no-js" lang="pl">

<head>
  <meta charset="utf-8">
  <title>OnTrendSpot</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <link rel="apple-touch-icon" href="{% static '/img/favicon.ico' %}">
  <!-- Place favicon.ico in the root directory -->


  <link rel="stylesheet" href="{% static '/css/main.css' %}">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <div class="menu-background" id="siteMenu" >
    
    <div class="close" onclick="showMenu()"></div>

    <div class="login-options login-options-mobile-show">
      <div class="login-options-option">
        <a href="{% url 'register' %}" class="login-link">Register</a> 
      </div>
      <div class="login-options-option">
        <a href="{% url 'login'  %}" class="login-link">Login</a> 
       </div>
    </div>

    <div class="main-menu white-font-color cursor"> 
      O nas
    </div>
    <br>
    <div class="main-menu white-font-color cursor">
      Zestawienie wskaźników
    </div>
    <br>
    <div class="main-menu white-font-color cursor">
      Kontakt
    </div>
    
  </div>

  <div class="header-container">
    <div class="logo-container">
      <a href="{% url 'index' %}">
        <img src= "{% static '/img/logo.svg' %}" class="logo">
      </a>
    </div>
   
   
    <!-- <div class="user-icon-container">
     <a href="{% url 'account' %}"><img src="{% static '/img/user_icon.svg'%}" class="user-icon" ></a> 
    </div> -->

    <div class="login-options login-options-mobile">
      <div class="login-options-option">
        <a href="{% url 'register' %}" class="login-link">Register</a> 
      </div>
      <div class="login-options-option">
        <a href="{% url 'login' %}" class="login-link">Login</a> 
       </div>
    </div>

    <div class="menu-container">
      <div class="menu-bar-wrapper" onclick="showMenu()">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
      </div>
    </div>

   
  </div>
  
  

 
  
  {% block content %}
  {% endblock %}
  
  
 
  <div class="footer">
    <div class="footer-space">
      <a href="" class="footer-font">index</a>
    </div>
    <div class="footer-space">
      <a href="" class="footer-font">wolumeny</a>
    </div>
    <div class="footer-space">
      <a href="" class="footer-font">średnie</a>
    </div>
    <div class="footer-space">
      <a href="" class="footer-font">formacje</a>
    </div>
    <div class="footer-space">
      <a href="" class="footer-font">kontakt</a>
    </div>
  </div>
  <div class="copyright">
      Copyright OnTrendeSpot 2020
  </div>
  <script src="{% static '/js/main.js' %}"></script>
</body>

</html>