{% extends "stocks/base.html" %}
{% load static %}
{% block content %}
<div class="loader" id="loader">Loading...</div>
<div class="base-position greey-color left-position content">
    <div class="arrow-position">
        <img src="{% static '/img/back_arrow.svg' %}" class="back-arrow" onclick='location.href = "/list";' />
        <p class="day-text darker-greey">wróć</p>
    </div>

    <div class="day-text stock-font blue-color">{{day}}</div>

    <div class="candle-result-position">
        <h1 class="darker-greey">Formacje wzrostowe</h1>
        <div class="loader" id="loader">Loading...</div>
            {% for candle in candle_data_up %}
            {% if candle.stock_data.1.1 == 'UP' %}
            <div class="candle-result greey-color  cursor" onclick='location.href="/stocks/{{candle.stock_data.0}}";'>
                <div class="formation-stock-ticker" >{{candle.stock_data.0}}</div>
                <div>{{candle.stock_data.1.0}}</div>
            </div>
            {% endif %}
            {% endfor %}

        <h1 class="darker-greey">Formacje spadkowe</h1>
            {% for candle in candle_data_down %}
            {% if candle.stock_data.1.1 == 'DOWN' %}
            <div class="candle-result greey-color  cursor" onclick='location.href="/stocks/{{candle.stock_data.0}}";'>
                <div class="formation-stock-ticker" >{{candle.stock_data.0}}</div>
                <div>{{candle.stock_data.1.0}}</div>
            </div>
            {% endif %}
            {% endfor %}
    </div>
</div>
{% endblock %}