{% extends "stocks/base.html" %}
{% load static %}
{% block content %}
<div class="loader" id="loader">Loading...</div>
<div class="base-position greey-color left-position content">
    <div class="arrow-position">
        <img src="{% static '/img/back_arrow.svg' %}" class="back-arrow" onclick='location.href = "/list";' />
        <p class="day-text darker-greey">wróć</p>
    </div>

    <div class="day-text darker-greey">Wolumeny dnia</div>
    <div class="day-text stock-font blue-color">20.09.2021</div>
    {% for stock in charts %}
    <div class="full-width">
        <div class="day-text darker-greey stock-font">{{stock | upper}} <span class="green-font-color">19.85 PLN (4,85%)</span>
        </div>
        <div class="center-position">
            <div id="{{stock}}" class="index-stock-image"></div>
        </div>
        <div class="day-data day-text">
            <div class="day-data-position ">
                <div>Średni wolumen dzisiaj : </div>
                <div class="day-text-font day-text-font-margin"> 521457 szt. wzrost 250% / 5dni</div>
            </div>
            <div class="day-data-position ">
                <div>Średni wolumen 5 dni : </div>
                <div class="day-text-font day-text-font-margin"> 521457 szt. wzrost 250% / 5dni</div>
            </div>
            <div class="day-data-position">
                <div>Sredni wolumen 30 dni : </div>
                <div class="day-text-font day-text-font-margin"> 350014 szt.wzrost 157% / 30dni</div>
            </div>
            <div class="share-position">
                <img src="{% static 'img/share.svg' %} " class="share-size black-arroe">
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graphs = {{ graphJSON | safe }};
    var tickers = {{ charts | safe}};

    if (tickers.length > 0) {
        for (var i = 0; i < graphs.length; i++) {
            Plotly.plot(tickers[i], graphs[i], { displayModeBar: false });
        }  
    }
</script>
{% endblock %}