{% extends "stocks/base.html" %}
{% load static %}
{% block content %}
<div class="loader" id="loader">Loading...</div>
<div class="base-position greey-color left-position content">
    <div class="arrow-position">
        <img src="{% static '/img/back_arrow.svg' %}" class="back-arrow" onclick='location.href = "/list";' />
        <p class="day-text darker-greey">wróć</p>
    </div>

    <div class="day-text darker-greey">Wolumeny dnia</div>
    <div class="day-text stock-font blue-color">{{day}}</div>
    {% if stocksQuantity > 0 %}
    {% for stock, change, close, means in charts %}
    <div class="full-width">
        {% if change > 0 %}
        <div class="day-text darker-greey stock-font stock-link" onclick='location.href="/stocks/{{stock}}";'>{{stock |upper}}
            <span class="green-font-color">{{close}} PLN ({{change}}%)</span>
        </div>
        {% elif change < 0 %} <div class="day-text darker-greey stock-font stock-link"
            onclick='location.href="/stocks/{{stock}}";'>{{stock | upper}}
            <span class="red-font-color">{{close}} PLN ({{change}}%)</span>
    </div>
    {% elif change == 0 %}
    <div class="day-text darker-greey stock-font stock-link" onclick='location.href="/stocks/{{stock}}";'>{{stock |upper}}
        <span class="darker-greey">{{close}} PLN ({{change}}%)</span>
    </div>
    {% endif %}


    <div class="center-position">
        <div id="{{stock}}" class="index-stock-image min-height"></div>
    </div>
    <div class="day-data day-text">
        <div class="day-data-position">
            <div >Średni wolumen dzisiaj : </div>
            <div class="day-text-font day-text-font-margin"> 
                {{means.1|floatformat:2}}</div>
        </div>
        <div class="day-data-position">
            <div class="day-text-font day-text-font-margin"> 
                Dzisiejszy wolumen w stosunku do średniej z 5 dni
                {% if means.5|floatformat:2 >= 0 %}
                    jest większy o {{means.5|floatformat:2}} %
                    {% endif %}
                {% if means.5|floatformat:2 < 0 %}
                    jest mniejszy o {{means.5|floatformat:2}} % 
                    {% endif %}
                
            </div>
        </div>
        <div class="day-data-position">
            <div class="day-text-font day-text-font-margin"> 
                Dzisiejszy wolumen w stosunku do średniej z 30 dni
                {% if means.30|floatformat:2 >= 0 %}
                    jest większy o {{means.30|floatformat:2}} % 
                {% endif %}   
                {% if means.30|floatformat:2 < 0 %}
                    jest mniejszy o {{means.30|floatformat:2}} % 
                {% endif %}
            </div>
        </div>
        <div class="share-position">
            <img src="{% static 'img/share.svg' %} " class="share-size black-arroe" onclick='shareLink("{{stock}}")'>
        </div>
    </div>

</div>
{% endfor %}
{% else %}
<div class="day-text darker-greey">Brak wyników.</div>
{% endif%}
</div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graphs = {{ graphJSON | safe }};
    var tickers = {{ chartData | safe}};
    var config = { responsive: true, displayModeBar: false };
    if (tickers.length > 0) {
        for (var i = 0; i < graphs.length; i++) {
            Plotly.plot(tickers[i], graphs[i], { displayModeBar: false }, config);
        }
    }
</script>
{% endblock %}