{% extends "stocks/base.html" %}
{% load static %}
{% block content %}
<div class="base-position">
    <h1>Wolumeny dnia</h1>
    <div class="index-stoc-container-wrapper">
        <div class="index-stock-position">
            <div class="index-stock-container">
                <a href="{% url 'stock' 'pkp' %}">
                    <img src="{% static '/img/chart.jpg'%}" class="index-stock-image">
                </a>
                <div class="index-stock-container-data">
                    <div class="index-stock-container-element">
                        20.09.2021
                    </div>
                    <div class="index-stock-container-element-right">
                        <div class="stock-name-size">
                            <a href="{% url 'stock' 'pkp' %}">PKP Cargo</a>
                        </div>
                        <div>
                            comments (21)
                        </div>

                    </div>
                </div>

            </div>
            <div class="index-stock-button-container">
                <div class="button-style">
                    więcej
                </div>
            </div>
        </div>

        <div class="index-stock-position">
            <div class="index-stock-position">
                <div class="index-stock-container">
                    <a href="{% url 'stock' 'allegro' %}">
                        <img src="{% static '/img/chart.jpg'%}" class="index-stock-image">
                    </a>
                        <div class="index-stock-container-data">
                            <div class="index-stock-container-element">
                                20.09.2021
                            </div>
                            <div class="index-stock-container-element-right">
                                <div class="stock-name-size">
                                    <a href="{% url 'stock' 'allegro' %}">Allegro</a>
                                </div>
                                <div>
                                    comments (21)
                                </div>

                            </div>
                        </div>
                </div>
                <div class="index-stock-button-container">
                    <div class="button-style">
                        więcej
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="index-stock-button-container">
        <div class="button-style button-style-more">
            pozostałe dni
        </div>
    </div>
</div>
<div class="newssocial-container">
    <div class="newsletter-container">
        <div class="newsletter-position">
            <div class="newsletter-font">
                Newsletter
            </div>
            <div>
                <input class="newsletter-input" placeholder="example@example.com">
            </div>
        </div>
        <div class="newsletter-button">
            Subscribe
        </div>
       
    </div>
    <div class="socialmedia-container">
        <img src="{% static '/img/facebook.svg'%}" class="socialmedia-icon"  />
        <img src="{% static '/img/twitter.svg'%}" class="socialmedia-icon" />
    </div>
    
</div>
    {% endblock %}