{% extends "stocks/base.html" %}
{% load static %}
{% block content %}
<div class="base-position darkgreen-color">
    <h1>Wolumeny dnia</h1>
    <div class="loader" id="loader">Loading...</div>
    <div class="index-stoc-container-wrapper content">
        <div class="index-stock-position">
            <div class="index-stock-container">
                <a href="{% url 'stock' 'pkp' %}">
                    <img src="{% static '/img/pkp.svg'%}" class="index-stock-image">
                </a>
                <div class="index-stock-container-data">
                    <div class="index-stock-container-element">
                        {{day}}
                    </div>
                    <div class="index-stock-container-element-right">
                        <div class="stock-name-size">
                            <a href="{% url 'stock' 'pkp' %}">PKP Cargo</a>
                        </div>
                        <div>
                            comments (21)
                        </div>

                    </div>
                </div>
            </div>
            <div class="index-stock-button-container">
                <button class="button-style"  onclick='location.href="/{{day}}/volume";'>więcej</button>
            </div>
        </div>
        <div class="index-stock-position">
            <div class="index-stock-position">
                <div class="index-stock-container">
                    <a href="{% url 'stock' 'pkn' %}">
                        <img src="{% static '/img/pkn.svg'%}" class="index-stock-image">
                    </a>
                    <div class="index-stock-container-data">
                        <div class="index-stock-container-element">
                            {{day}}
                        </div>
                        <div class="index-stock-container-element-right">
                            <div class="stock-name-size">
                                <a href="{% url 'stock' 'pkn' %}">PKN</a>
                            </div>
                            <div>
                                comments (21)
                            </div>

                        </div>
                    </div>
                </div>
                <div class="index-stock-button-container">
                    <button class="button-style"  onclick='location.href="/{{day}}/volume";'>więcej</button>
                </div>
            </div>
        </div>
    </div>
    <div class="index-stock-button-container index-button">
        <button class="button-style button-style-more" onclick='location.href="/list";'> pozostałe dni</button>
    </div>
</div>
<div class="newssocial-container">
    <div class="newsletter-container">
        <div class="newsletter-position">
            <div class="newsletter-font">
                Newsletter
            </div>
            <div>
                <input class="newsletter-input" placeholder="example@example.com">
            </div>
        </div>
        <button class="button-with-shadow button-with-shadow-border-red red-color">
            Subscribe
        </button>

    </div>
    <div class="socialmedia-container">
        <img src="{% static '/img/facebook.svg'%}" class="socialmedia-icon" />
        <img src="{% static '/img/twitter.svg'%}" class="socialmedia-icon" />
    </div>
</div>
<div class="base-position greey-color">
    <h1>Średnie dnia</h1>
    <div class="loader" id="loader">Loading...</div>
    <div class="index-stoc-container-wrapper content">
        <div class="index-stock-position">
            <div class="index-stock-container">
                <a href="{% url 'stock' 'pkp' %}">
                    <img src="{% static '/img/pkp.svg'%}" class="index-stock-image">
                </a>
                <div class="index-stock-container-data violet">
                    <div class="index-stock-container-element">
                        20.09.2021
                    </div>
                    <div class="index-stock-container-element-right">
                        <div class="stock-name-size">
                            <a href="{% url 'stock' 'pkn' %}">PKP</a>
                        </div>
                        <div>
                            comments (1)
                        </div>

                    </div>
                </div>

            </div>
            <div class="index-stock-button-container">
                <button class="button-style" onclick='location.href="/{{day}}/mean";'>
                    więcej
                </button>
            </div>
        </div>

        <div class="index-stock-position">
            <div class="index-stock-position">
                <div class="index-stock-container">
                    <a href="{% url 'stock' 'pkn' %}">
                        <img src="{% static '/img/pkn.svg'%}" class="index-stock-image">
                    </a>
                    <div class="index-stock-container-data violet">
                        <div class="index-stock-container-element">
                            20.09.2021
                        </div>
                        <div class="index-stock-container-element-right">
                            <div class="stock-name-size">
                                <a href="{% url 'stock' 'pkn' %}">PKN Orlen</a>
                            </div>
                            <div>
                                comments (0)
                            </div>

                        </div>
                    </div>
                </div>
                <div class="index-stock-button-container">
                    <button class="button-style" onclick='location.href="/{{day}}/mean";'>
                        więcej
                    </button>
                </div>
            </div>
        </div>


    </div>
    <div class="index-stock-button-container index-button">
        <button class="button-style button-style-more" onclick='location.href="/list";'>
            pozostałe dni
        </button>
    </div>
</div>


<div class="base-position white">
    <h1>Formacje świecowe</h1>
    <div class="loader" id="loader">Loading...</div>
    <div class="index-stoc-container-wrapper content">
        <div class="index-stock-position">
            <div class="formation-container">
                <div class="formation-header formation-header-color white-font-color">
                    Formacje wzrostowe
                </div>
                <div class="formation-content">
                    <div class="formation-stock-ticker">PKO</div>
                    <div>Harami wzrostowe</div>
                    <div>20.09.2021</div>
                </div>
                <div class="formation-content">
                    <div class="formation-stock-ticker">PKO</div>
                    <div>Harami wzrostowe</div>
                    <div>20.09.2021</div>
                </div>
                <div class="formation-content">
                    <div class="formation-stock-ticker">PKO</div>
                    <div>Harami wzrostowe</div>
                    <div>20.09.2021</div>
                </div>
            </div>


            <div class="index-stock-button-container">
                <button class="button-style" onclick='location.href="/{{day}}/candles";'>
                    więcej
                </button>
            </div>
        </div>

        <div class="index-stock-position">
            <div class="index-stock-position">
                <div class="formation-container">
                    <div class=" formation-header formation-header-color white-font-color">
                        Formacje spadkowe
                    </div>
                    <div class="formation-content">
                        <div class="formation-stock-ticker">PKO</div>
                        <div>Harami wzrostowe</div>
                        <div>20.09.2021</div>
                    </div>
                    <div class="formation-content">
                        <div class="formation-stock-ticker">PKO</div>
                        <div>Harami wzrostowe</div>
                        <div>20.09.2021</div>
                    </div>
                    <div class="formation-content">
                        <div class="formation-stock-ticker">PKO</div>
                        <div>Harami wzrostowe</div>
                        <div>20.09.2021</div>
                    </div>
                </div>

                <div class="index-stock-button-container">
                    <button class="button-style" onclick='location.href="/{{day}}/candles";'>
                        więcej
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="index-stock-button-container index-button">
        <button class="button-style button-style-more" onclick='location.href="/list";'>
            pozostałe dni
        </button>
    </div>
</div>
{% endblock %}