{% extends "stocks/base.html" %}
{% block content %}

<div class="greey-color">
    <br>
    <div class="base-position">
        <div class="loader" id="loader">Loading...</div>
        <div class="index-stoc-container-wrapper content">
            <div class="index-stock-position">
                <div class="formation-container">
                    <div class="formation-header formation-header-list greey-color-list">
                        Średnie dnia
                    </div>

                    <div class="list-buttons-container">
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                19.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                20.09.2021
                            </button>
                        </div>


                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                21.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                22.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                23.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                24.09.2021
                            </button>
                        </div>
                    </div>

                </div>
                <div class="index-stock-button-container">
                    <button class="button-style">
                        więcej
                    </button>
                </div>
            </div>

            <div class="index-stock-position">
                <div class="formation-container">
                    <div class="formation-header formation-header-list greey-color-list">
                        Wolumeny dnia
                    </div>

                    <div class="list-buttons-container" id="volumeList">
                        {% for date in dates|slice:"6" %}
                        <div class="formation-content formation-content-list">
                            <button class="button-lista" onclick='location.href="/{{date}}/volume";'>
                                {{date}}
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="index-stock-button-container">
                    <button class="button-style" id="showMoreVolumes" onclick= valueUpdate()>
                        więcej
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="base-position">
        <div class="loader" id="loader">Loading...</div>
        <div class="index-stoc-container-wrapper content">
            <div class="index-stock-position">
                <div class="formation-container">
                    <div class="formation-header formation-header-list greey-color-list">
                        Średnie dnia
                    </div>

                    <div class="list-buttons-container">
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                19.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                20.09.2021
                            </button>
                        </div>


                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                21.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                22.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                23.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                24.09.2021
                            </button>
                        </div>
                    </div>

                </div>
                <div class="index-stock-button-container">
                    <button class="button-style">
                        więcej
                    </button>
                </div>
            </div>

            <div class="index-stock-position">
                <div class="formation-container">
                    <div class="formation-header formation-header-list greey-color-list">
                        Wolumeny dnia
                    </div>

                    <div class="list-buttons-container">
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                19.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                20.09.2021
                            </button>
                        </div>


                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                21.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                22.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                23.09.2021
                            </button>
                        </div>
                        <div class="formation-content formation-content-list">
                            <button class="button-lista">
                                24.09.2021
                            </button>
                        </div>
                    </div>

                </div>


                <div class="index-stock-button-container">
                    <button class="button-style">
                        więcej
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}