{% extends "stocks/base.html" %}
{% block content %}

<div class="greey-color">
    <br>
    <div class="base-position">
        <div class="index-stoc-container-wrapper">
            <div class="index-stock-position">
                <div class="formation-container">
                    <div class="formation-header formation-header-list greey-color-list">
                        Średnie dnia
                    </div>

                    <div class="list-buttons-container">
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                19.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                20.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                21.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                22.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                23.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                24.09.2021
                            </div>
                        </div>
                    </div>

                </div>
                <div class="index-stock-button-container">
                    <div class="button-style">
                        więcej
                    </div>
                </div>
            </div>

            <div class="index-stock-position">
                <div class="formation-container">
                    <div class="formation-header formation-header-list greey-color-list">
                        Wolumeny dnia
                    </div>

                    <div class="list-buttons-container">
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                19.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                20.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                21.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                22.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                23.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                24.09.2021
                            </div>
                        </div>
                    </div>

                </div>


                <div class="index-stock-button-container">
                    <div class="button-style">
                        więcej
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="base-position">
        <div class="index-stoc-container-wrapper">
            <div class="index-stock-position">
                <div class="formation-container">
                    <div class="formation-header formation-header-list greey-color-list">
                        Średnie dnia
                    </div>

                    <div class="list-buttons-container">
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                19.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                20.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                21.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                22.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                23.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                24.09.2021
                            </div>
                        </div>
                    </div>

                </div>
                <div class="index-stock-button-container">
                    <div class="button-style">
                        więcej
                    </div>
                </div>
            </div>

            <div class="index-stock-position">
                <div class="formation-container">
                    <div class="formation-header formation-header-list greey-color-list">
                        Wolumeny dnia
                    </div>

                    <div class="list-buttons-container">
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                19.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                20.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                21.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                22.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                23.09.2021
                            </div>
                        </div>
                        <div class="formation-content formation-content-list">
                            <div class="button-with-shadow button-with-shadow-list blue-button-color">
                                24.09.2021
                            </div>
                        </div>
                    </div>

                </div>


                <div class="index-stock-button-container">
                    <div class="button-style">
                        więcej
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}