{% extends "stocks/base.html" %}
{% block content %}
<div class="base-position darkgreen-color base-position-mobile">
    <h1>Login</h1>
    <div class="input-box">
        <div class="input-container">
            <label for="email" class="day-text-font ">Email</label>
            <input type="text" id="email">
        </div>
        
        <div class="input-container">
            <label for="pass" class="day-text-font ">Password</label>
            <input type="password" id="pass">
        </div>

        <div class="input-container input-center-text">
                <a href="" class="darker-greey day-text-font ">Nie pamiętam hasła</a>
        </div>


        <div class="index-stock-button-container">
            <div class="button-style button-style-more">
                Login
            </div>
        </div>
    </div>
</div>

{% endblock %}
