{% extends "stocks/base.html" %}
{% block content %}
<div class="base-position darkgreen-color base-position-mobile base-position-height">
    <h1 id="caption">Login</h1>
    <form class="input-box" id="loginForm" method="post">
        {% csrf_token %}
        <div class="input-container">
            <label for="user" class="day-text-font ">Username</label>
            <input type="text" id="user" name="user" value="{{ form.user.value }}">
        </div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    {% if field.label == "user" %}
                    <p class="error_message"> {{ error|escape }} </p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
      
        <div class="input-container">
            <label for="pass" class="day-text-font ">Password</label>
            <input type="password" id="pass" name="password" value="{{ form.password.value }}">
        </div>

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    {% if field.label == "Password" %}
                    <p class="error_message"> {{ error|escape }} </p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="index-stock-button-container">
            <button class="button-style" type="submit" name="login_button">
                Login
            </button>
        </div>
        <div class="input-container input-center-text">
            <div class="darker-greey day-text-font cursor" onclick="promptToggle()">Nie pamiętam hasła.</div>
        </div>

        <div class="input-container input-center-text">
            <a class="darker-greey day-text-font cursor" href="{% url 'register' %}">Nie masz konta ? Zarejestruj się.
            </a>
        </div>
    </form>

    <form class="input-box auto-height" id="promptForm" method="post">
        {% csrf_token %}
        <div class="input-container">
            <label for="pass" class="day-text-font ">Enter email</label>
            <input type="email" id="promptEmail" name="email">
        </div>
        <div class="index-stock-button-container">
            <button class="button-style" onclick="" name="reset_button_confirmation">
                OK
            </button>
            <button class="button-style" onclick="promptToggle()" name="reset_button_cancellation">
                Cancel
            </button>
        </div>
    </form>


</div>

{% endblock %}