{% extends "stocks/base.html" %}
{% load static %}
{% block content %}
<div class="loader" id="loader">Loading...</div>
<div class="base-position greey-color left-position content">
    <div class="arrow-position">
        <img src="{% static '/img/back_arrow.svg' %}" class="back-arrow" onclick='location.href = "/list";' />
        <p class="day-text darker-greey">wróć</p>
    </div>

    <div class="day-text darker-greey">Średnie dnia</div>
    <div class="day-text stock-font blue-color">{{day}}</div>
    {% if stocksQuantity > 0 %}
        {% for stock, change, close in stockData %}
            <div class="full-width">
                {% if change > 0 %}
                    <div class="day-text darker-greey stock-font stock-link" onclick='location.href="/stocks/{{stock}}";'>{{stock | upper}} 
                        <span class="green-font-color">{{close}} PLN ({{change}}%)</span>
                    </div>
                {% elif change < 0 %} 
                    <div class="day-text darker-greey stock-font stock-link" onclick='location.href="/stocks/{{stock}}";'>{{stock | upper}} 
                        <span class="red-font-color">{{close}} PLN ({{change}}%)</span>
                    </div>
                {% elif change == 0 %}
                    <div class="day-text darker-greey stock-font stock-link" onclick='location.href="/stocks/{{stock}}";'>{{stock | upper}} 
                        <span class="darker-greey">{{close}} PLN ({{change}}%)</span>
                    </div>
                {% endif %}
                    <div class="center-position">
                        <div id="{{stock}}" class="index-stock-image min-height"></div>
                    </div>
                    <div class="day-data day-text">
                        <div class="share-position">
                            <img src="{% static 'img/share.svg' %} " class="share-size black-arroe">
                        </div>
                    </div>
            </div>
            {% endfor %}
    {% else %}
    <div class="day-text darker-greey">Brak wyników.</div>
    {% endif%}
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<script type="text/javascript">
    var graphs = {{ graphJSON | safe }};
    var tickers = {{ stocksTickers | safe}}; 
    if (tickers.length > 0) {
        for (var i = 0; i < graphs.length; i++) {
 
           Plotly.plot(tickers[i], JSON.parse(graphs[i]), { displayModeBar: false });
        }
    } 
</script> 
{% endblock %}