{% extends "stocks/base.html" %}
{% block content %}
<div class="base-position darkgreen-color base-position-mobile base-position-height" id="register">
    <h1 id="caption">Login</h1>
    <div class="input-box" id="loginForm">
        <div class="input-container">
            <label for="email" class="day-text-font ">Email</label>
            <input type="text" id="email">
        </div>

        <div class="input-container">
            <label for="pass" class="day-text-font ">Password</label>
            <input type="password" id="pass">
        </div>


        <div class="index-stock-button-container">
            <button class="button-style">
                Login
            </button>
        </div>
        <div class="input-container input-center-text">
            <div class="darker-greey day-text-font cursor" onclick="promptToggle()">Nie pamiętam hasła.</div>
        </div>

        <div class="input-container input-center-text">
            <div class="darker-greey day-text-font cursor" onclick="formsToggle()">Nie masz konta ? Zarejestruj się.</div>
        </div>
    </div>

    <div class="input-box" id="registerForm">
        <div class="input-container">
            <label for="name" class="day-text-font ">Name</label>
            <input type="text" id="registerUserName">
        </div>
        <div class="input-container">
            <label for="email" class="day-text-font ">Email</label>
            <input type="text" id="registerEmail">
        </div>

        <div class="input-container">
            <label for="pass" class="day-text-font ">Password</label>
            <input type="password" id="registerPass">
        </div>

        <div class="input-container">
            <label for="pass" class="day-text-font ">Confirm password</label>
            <input type="password" id="registerConfimrPass">
        </div>

        <div>
            <input type="checkbox" id="termsAgree" name="termsAgree" value="ok">
            <label for="termsAgree" class="day-text-font"> Accept therms and conditions</label>
        </div>
           
        

        <div class="index-stock-button-container">
            <button class="button-style">
                Register
            </button>
        </div>

        <div class="input-container input-center-text">
            <div class="darker-greey day-text-font cursor" onclick="formsToggle()">Masz konto ? Zaloguj się!</div>
        </div>

        
    </div>
    <div class="input-box auto-height" id="promptForm">
        <div class="input-container">
            <label for="pass" class="day-text-font ">Enter email</label>
            <input type="password" id="promptEmail">
        </div>
        <div class="index-stock-button-container">
            <button class="button-style" onclick="promptToggle()">
                OK
            </button>
            <button class="button-style" onclick="promptToggle()">
                Cancel
            </button>
        </div>
    </div>

    
</div>

{% endblock %}