{% extends "stocks/base.html" %}
{% load static %}
{% block content %}
<div class="loader" id="loader">Loading...</div>
<div class="base-position greey-color left-position content">
    <div class="arrow-position">
        <img src="{% static '/img/back_arrow.svg' %}" class="back-arrow" onclick='location.href = "/list";' />
        <p class="day-text darker-greey">wróć</p>
    </div>
    <div>

    </div>
    <div class="day-text darker-greey stock-font">{{stock.stock_symbol}} <span class="green-font-color">19.85 PLN
            (4,85%)</span></div>

    <div class="center-position">
        <div id="chart" class="index-stock-chart"></div>
    </div>
    <div class="center-position">
        <div id="histChart" class="index-stock-chart"></div>
    </div>

    <div class="day-data day-text">
        <div class="day-data-position ">
            <div>O firmie </div>
        </div><br>
        <div class="loader" id="loader">Loading...</div>
        <div class="day-data-position content">
            <div class="addres-postion">
                <div class="day-text-font darker-greey">{{stock.name}}<br>

                    {{stock.address_split.0}} {{stock.address_split.1}}<br>
                    {{stock.address_split.2}} {{stock.address_split.3}}<br>
                    {{stock.address_split.4}}
                </div>

            </div><br>
            <div class="addres-postion">
                <div> ISIN: {{stock.isin}} <br>
                    SYMBOL: {{stock.stock_symbol}}</div>
            </div>

        </div><br>
        <div class="day-data-position">
            <div>Telefon: </div>
            <div class="day-text-font darker-greey"> {{stock.phone}}</div>
        </div>
        <div class="day-data-position">
            <div>Email: </div>
            <div class="day-text-font darker-greey"> {{stock.email}}</div>
        </div>
        <div class="day-data-position">
            <div>Strona www: </div>
            <div class="day-text-font darker-greey"> {{stock.website}}</div>
        </div>
    </div>
</div>
<div class="loader" id="loader">Loading...</div>
<div class=" stock-hit-list mint-color content">
    <div class="formation-stock-ticker day-text-font">Lista wpisów</div>
    <div class="entry-item white-background">
        <div class="entry-item-date mint-color-font  formation-stock-ticker day-text-font ">20.09.2020</div>
        <div class="darker-greey entry-item-message day-text-font ">Wolumen wiekszy o 157% od średniej tygodniowej.
        </div>
    </div>

    <div class="entry-item white-background">
        <div class="entry-item-date mint-color-font  formation-stock-ticker day-text-font ">20.09.2020</div>
        <div class="darker-greey entry-item-message day-text-font ">Wolumen wiekszy o 157% od średniej tygodniowej.
        </div>
    </div>

    <div class="entry-item white-background">
        <div class="entry-item-date mint-color-font  formation-stock-ticker day-text-font ">20.09.2020</div>
        <div class="darker-greey entry-item-message day-text-font ">Wolumen wiekszy o 157% od średniej tygodniowej.
        </div>
    </div>
    <div class="index-stock-button-container">
        <div class="button-style button-style-more">
            pokaż więcej
        </div>
    </div>
</div>

<div class="loader" id="loader">Loading...</div>
<div class="stock-hit-list content">
    <div class="formation-stock-ticker day-text-font">Komentarze</div>
    <div class="entry-item entry-item-comment">
        <div class=" entry-item-message day-text-font day-text-font-padding">Podpisana nowa umowa na nowe relacje.
            Musiało urosnąć. </div>
        <div class="formation-stock-ticker day-text-font day-text-font-padding ">Jan 20.09.2020</div>
    </div>

    <div class="index-stock-button-container">
        <div class="button-style button-style-more">
            pokaż więcej
        </div>
    </div>
</div>

<div class=" stock-hit-list ">
    <div class="formation-stock-ticker day-text-font">Dodaj komentarz</div>
    <textarea id="comment" name="w3recommentview" rows="4" cols="50">
        </textarea>
    <div class="index-stock-button-container">
        <div class="button-style button-style-more">
            dodaj
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graphs = {{ graphJSON | safe }};
    var histogram = {{ histChart | safe}};
    Plotly.plot('chart', graphs, { displayModeBar: false });
    Plotly.plot('histChart', histogram, { displayModeBar: false });   
</script>

{% endblock %}