@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'),
         url('../fonts/Roboto/Roboto-Regular.ttf') format("truetype");
  }

  @font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'),
         url('../fonts/Roboto/Roboto-Bold.ttf') format("truetype");
  }

body {
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
    color: white;
}

h1{
    font-family: Roboto-Regular;
}

input {
    font-size: 1.2em;
}

input:placeholder {
    color: #DFDFDF;
    font-size: 1.2em;
    font-family: Roboto-Bold;
    margin-left: 5%;
}

.red-color{
    background: #E33D3D;
}
.light-green-color{
    background-color: #A9C1CA;
}

.mint-color{
    background-color: #61AEC9;
}

.mint-color-font{
    color: #61AEC9;
}

.greey-color{
    background-color: #FCFCFC;
}

.darkgreen-color{
    background-color: #D3E1E6;
}

.greey-color-list{
    background: #F0F0F0;
}

.formation-header-color{
    background: #46C2BB;
}

.white-font-color{
    color: white;
}

.blue-button-color{
    background-color: #5370A9;
}

.blue-color{
    color: #5370A9;
}

.green-font-color{
    color: #03AF29;
}

.red-font-color{
    color: #e70505;
}
.darker-greey{
    color: #575757;;
}

.white-background{
    background-color: white;
}

.header-container{
    display: flex;
    flex-direction: row;
    padding: 2% 4%;
    box-shadow: 0px 4px 4px rgba(127, 120, 120, 0.2);
    align-items: center;
    position: relative;
}

.logo-container{
    width: 85%;
}

.logo{
    width: 20%;
    margin-left: 2.5%;
}

.menu-container{
    width: 10%;
}

.menu-bar-wrapper{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-bar{
    width: 52px;
    height: 6px;
    background: #464242;
    border-radius: 4px;
    margin: 3.15%;
}

.menu-bar-wrapper:hover > .menu-bar{
    background: #6453A9;
    transition: 0.35s;
}

.user-icon-container{
    width: 5%;
}

.user-icon{
    width: 80%;
    cursor: pointer;
}

.base-position{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5% 10% 1.5% 10%;
}

.white{
    background: white;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;
}

.footer-space{
    padding: 0% 5%;
}

.footer-font{
    font-family: Roboto-Regular;
    font-size: 1.2em;
    color: #575757;
    transition: 1.5s;

}

.footer-font:hover{
    color: #6453A9;
    cursor: pointer;
    font-family: Roboto-Bold;
}

.copyright{
    font-family: Roboto-Regular;
    font-size: 1.0em;
    color: #575757;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.index-stoc-container-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.index-stock-position{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}
.index-stock-container{
    width: 90%;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(127, 120, 120, 0.2);
    background: white;
}

.index-stock-image{
    width: 100%;
}
.index-stock-container-data{
    font-family: Roboto-Regular;
    color: white;
    background-color: #5370A9;
    display: flex;
    flex-direction: row;
    padding: 5% 8%;
    font-size: 1em;
    align-items: center;
}

.violet{
    background-color: #6453A9;
}

.index-stock-container-element{
    width: 50%;
}

.index-stock-container-element-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stock-name-size{
    font-size: 2em;
}

.index-stock-button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-style{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #C4BCBC;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: Roboto-Regular;
    width: 25%;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1% 2%;
    word-break:break-all;
    cursor: pointer;
    margin: 3%;
}

.button-style-more{
    width: 15%;
}

.button-style:hover{
    background: #5370A9;
    transition: 0.25s;
    color: white;
}

.newssocial-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    min-height: 17vh;
}

.newsletter-container{
    display: flex;
    flex-direction: row;
    width: 65%;
    align-items: center;
    background-color: #A9C1CA;
    min-height: 17vh;
    justify-content: center;
}

.newsletter-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.newsletter-font{
    padding: 1% 0% 2% 0%;
    font-family: Roboto-Bold;
    font-size: 1.3em;
}

.newsletter-input{
    background: white;
    border: 1px solid rgba(93, 93, 93, 0.35);
    box-sizing: border-box;
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 5vh;
}

.button-with-shadow{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: Roboto-Regular;
    color: white;
    height: 5.5vh;
    width: 14%;
    margin-left: 5%;
}

.button-with-shadow:hover{
    cursor: pointer;
    transition: 0.35s;
    background-color: #872525 ;
}

.formation-content-list > .button-with-shadow:hover{
    background-color: #61AEC9;
}

.button-with-shadow-list{
    width: auto;
    padding: 6% 20%;
    margin-left: 0%;
    min-width: 90px;
}

.socialmedia-container{
    background-color: #61AEC9;
    min-height: 17vh;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socialmedia-icon{
    cursor: pointer;
    width: 15%;
    height: auto;
}

.formation-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid #EBE9E9;
    box-shadow: 4px 4px 4px rgb(127 120 120 / 20%)
}

.formation-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    font-family: Roboto-Bold;
    width: 30vw;
    height: 9vh;
    font-size: 1.25em;
}


.formation-header-list{
    width: auto;
}

.formation-content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-family: Roboto-Regular;
    margin: 4% 2%;
}

.formation-content-list{
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.formation-stock-ticker{
    font-weight: bold;
}

.list-buttons-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10%;
    min-width: 35vw;
}

.arrow-position{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.day-text{
    font-family: Roboto-Bold;
    font-size: 1.25em;
    padding: 0.5% 4%;
}

.back-arrow{
    cursor: pointer;
    width: 5%;
}

.left-position{
    align-items: flex-start;
}

.center-position{
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
}

.stock-font{
    font-family: Roboto-Bold;
    font-size: 1.75em;
}

.day-data{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.day-data-position{
    display: flex;
    flex-direction: row;
}

.share-size{
    width: 5%;
    margin: 1% 5% 1% 0%;
    cursor: pointer;
}

.share-position{
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.day-text-font {
    font-family: 'Roboto-Regular';
}
.day-text-font-margin{
    margin-left: 3%;
}

.addres-postion{
    width: 50%;
    justify-content: center;
    align-items: center;
}

.stock-hit-list{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    justify-content: center;
    align-items: center;
}

.entry-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100px;
    min-height: 30px;
    text-align: center;
    border: 2px solid rgba(216, 210, 210, 0.2);
    box-shadow: 0px 4px 4px rgba(175, 174, 174, 0.25);
    border-radius: 15px;
    margin: 1% 0%;
    cursor: pointer;
    transition: 0.5s;
}

.entry-item:hover {
    background-color: rgb(194, 220, 221);
}

.entry-item-date{
    width: 20%;
}

.entry-item-message{
    width: 80%;
}

.entry-item-comment{
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
}

.day-text-font-padding{
    padding: 1% 3%;
}

textarea {
    width: 70%;
    height: 150px;
    margin: 1% 0%;
    border: 1px solid #C9C3C3;
    font-family: 'Roboto';
    font-size: 1.25em;
  }

.input-box{
    width: 50%;
    min-height: 60vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #CACACA;
    margin: 1% 0% 5% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.25);
  }

.input-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    margin: 2% 0%;
}

.input-center-text{
    align-items: center;
    margin: 1% 0%;
}
@media only screen and (max-width: 768px) {

.header-container{
    padding: 5% 4%;
}
.logo{
    width: 40%;
}

.menu-container{
    width: 20%;
}

.menu-bar{
    width: 46px;
    height: 5px;
    margin: 4%;
}


.user-icon-container{
    width: 10%;
    margin-right: 3%;
}

.user-icon{
    width: 100%;
}

.footer-font{
    font-size: 0.8em;
}

.copyright{
    font-size: 0.8em;
}

.index-stoc-container-wrapper {
    flex-direction: column;
}

.button-style-more{
    width: 30%;
}

.footer-space{
    padding: 0% 3%;
}

.stock-name-size{
    font-size: 1.25em;
}
.index-stock-container-data{
    font-size: 0.85em;
}

.newssocial-container{
    flex-direction: column;
}

.newsletter-container{
    width: 100%;
}

.socialmedia-container{
    width: 100%;
    height: 15vh;
}

.socialmedia-icon{
    max-width: 50px;
}

.newsletter-container{
    flex-direction: column;
}

.newsletter-position{
    width: 90%;
    min-height: 100px;
}

.button-with-shadow{
    margin: 3%;
    width: 26%;
    min-height: 45px;
}

.newsletter-input {
    min-height: 45px;
}

.formation-header{
    width: 70vw;
}

.formation-header-list{
    width: auto;
}

.formation-content {
    font-size: 0.85em;
}

.button-style {
    font-size: 0.85em;
}

.button-with-shadow-list {
    width: auto;
    padding: 4% 10%;
}

.share-size {
    width: 7%;
}

.day-data-position {
    flex-direction: column;
}

.day-text {
    font-size: 1.0em;
}

.entry-item{
    flex-direction: column;
}

.entry-item-date {
    width: 100%;
}

.entry-item-comment{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.back-arrow{
    width: 8%;
}

.input-box{
    width: 90%;
  }

.base-position-mobile{
    padding: 0%;
}

}