@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'),
        url('../fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'),
        url('../fonts/Roboto/Roboto-Bold.ttf') format("truetype");
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: Roboto-Regular;
}

input {
    font-size: 1.2em;
}

input:placeholder {
    color: #DFDFDF;
    font-size: 1.2em;
    font-family: Roboto-Bold;
    margin-left: 5%;
}

.login-options {
    display: flex;
    justify-content: space-evenly;
    width: 17%;
}

.login-options-option{
    margin: 3px;
}

.login-link {
    color: #464242;
    font-family: Roboto-Regular;
    font-size: 1em;
}

.clock-font {
    color: #464242;
    font-family: Roboto-Regular;
    font-size: 1em;
    padding: 1%;
    display: none;
}

.clock-refresh-icon {
    padding: 1% 1% 1% 0%;
    display: none;
}

.red-color {
    background: #E33D3D;
}

.light-green-color {
    background-color: #A9C1CA;
}

.mint-color {
    background-color: #61AEC9;
}

.mint-color-font {
    color: #61AEC9;
}

.greey-color {
    background-color: #FCFCFC;
}

.darkgreen-color {
    background-color: #D3E1E6;
}

.greey-color-list {
    background: #F0F0F0;
}

.formation-header-color {
    background: #46C2BB;
}

.white-font-color {
    color: white;
}

.blue-button-color {
    background-color: #5370A9;
}

.blue-color {
    color: #5370A9;
}

.green-font-color {
    color: #03AF29;
}

.red-font-color {
    color: #e70505;
}

.darker-greey {
    color: #575757;
    ;
}

.white-background {
    background-color: white;
}

.index-mainbox{
    width: 100vw;
    height: 92vh;
    background-image: url('../img/blur.svg');
    background-size: cover;
}

.index-button {
    visibility: hidden;
}

.width-35{
    min-width: 35%;
    text-align: center;
    word-wrap: break-word;
}

.width-30{
    min-width: 30%;
    text-align: center;
    word-wrap: break-word;
}

.width-55{
    min-width: 55%;
    text-align: center;
    word-wrap: break-word;
}

.width-10{
    min-width: 10%;
    text-align: center;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.center_404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    visibility: hidden;
}

.error_message {
    color: red;
    margin: 0.1em;
}

.asteriskField {
    display: none;
}

.header-container {
    display: flex;
    flex-direction: row;
    padding: 2% 2.0% 2% 4%;
    box-shadow: 0px 4px 4px rgba(127, 120, 120, 0.2);
    align-items: center;
    position: relative;
}

.logo-container {
    width: 85%;
}

.logo {
    width: 20%;
    margin-left: 2.5%;
}

.menu-container {
    width: 10%;
    padding: 0% 1.5%;
}

.menu-bar-wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-bar {
    width: 46px;
    height: 5px;
    background: #464242;
    border-radius: 4px;
    margin: 3px;
}

.menu-bar-wrapper:hover>.menu-bar {
    background: #6453A9;
    transition: 0.35s;
}

.user-icon-container {
    width: 5%;
}

.user-icon {
    width: 80%;
    cursor: pointer;
}

.base-position {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5% 10% 1.5% 10%;
}

.base-position-index {
    padding: 0% 5% 1.5% 5%;
}

.candle-result-position{
    display: flex;
    flex-direction: column;
    padding: 1.5% 20% 1.5% 20%;
    width: 60%;
}

.candle-result{
    display: flex;
    flex-direction: row;
    font-family: Roboto-Regular;
    padding: 3%;
    border-radius: 8px;
    border: 1px solid #EBE9E9;
    box-shadow: 4px 4px 4px rgb(127 120 120 / 20%);
    margin: 1.5%;
    transition: 0.5s;
}

.candle-result:hover{
    background: #46C2BB;
}

.formation-stock-ticker {
    font-weight: bold;
    margin: 0% 2% 0% 4%;
}

.min-height {
    min-height: 650px;
}

.modebar {
    display: none !important;
}

.base-position-height {
    min-height: 80vh;
}

.white {
    background: white;
}

.full-width {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;
}

.footer-space {
    padding: 0% 5%;
}

.footer-font {
    font-family: Roboto-Regular;
    font-size: 1.2em;
    color: #575757;
    transition: 1.5s;

}

.footer-font:hover {
    color: #6453A9;
    cursor: pointer;
    font-family: Roboto-Bold;
}

.copyright {
    font-family: Roboto-Regular;
    font-size: 1.0em;
    color: #575757;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.button-lista {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-lista:hover {
    background-color: rgb(232, 235, 237);
}

.button-lista:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-lista:focus-visible {
    box-shadow: none;
}

.index-stoc-container-wrapper {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.index-stock-position {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    margin: 2%;
}

.index-stock-container {
    width: 90%;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(127, 120, 120, 0.2);
    background: white;
}

.index-stock-image {
    width: 85%;
    margin-left: 7.5%;
    margin-top: 2.5%;
}

.index-stock-chart {
    width: 85%;
    min-height: 650px;
}

.index-stock-container-data {
    font-family: Roboto-Regular;
    color: white;
    background-color: #5370A9;
    display: flex;
    flex-direction: row;
    padding: 5% 8%;
    font-size: 1em;
    align-items: center;
}

.violet {
    background-color: #6453A9;
}

.index-stock-container-element {
    width: 50%;
}

.index-stock-container-element-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stock-name-size {
    font-size: 2em;
}

.index-stock-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-style {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #C4BCBC;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: Roboto-Regular;
    width: 25%;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1% 2%;
    word-break: break-all;
    cursor: pointer;
    margin: 3%;
}
.button-style-less-margin{
    margin: 1.5%;
}

.button-style-more {
    width: 15%;
    word-break: break-word;
}

.button-style:hover {
    background: #5370A9;
    transition: 0.25s;
    color: white;
}

.newssocial-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.newsletter-container {
    display: flex;
    flex-direction: row;
    width: 65%;
    align-items: center;
    background-color: #A9C1CA;
    justify-content: center;
    align-self: stretch;
}

.newsletter-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 3%;
}

.newsletter-font {
    padding: 1% 0% 2% 0%;
    font-family: Roboto-Bold;
    font-size: 1.3em;
}

.newsletter-input {
    background: white;
    border: 1px solid rgba(93, 93, 93, 0.35);
    box-sizing: border-box;
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 40px;
}

.button-with-shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: Roboto-Regular;
    color: white;
    margin-left: 5%;
    width: 25%;
    height: 40px;
}

.button-with-shadow-border-red {
    border: 1px solid #E33D3D;
}

.button-with-shadow-border-blue {
    border: 1px solid #5370A9;
}

.button-with-shadow:hover {
    cursor: pointer;
    transition: 0.35s;
    background-color: #872525;
}

.formation-content-list>.button-with-shadow:hover {
    background-color: #61AEC9;
}

.button-with-shadow-list {
    width: auto;
    padding: 6% 20%;
    margin-left: 0%;
    min-width: 90px;
}

.socialmedia-container {
    background-color: #61AEC9;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: stretch;
}

.socialmedia-icon {
    cursor: pointer;
    width: 15%;
    height: auto;
}

.formation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid #EBE9E9;
    box-shadow: 2px 4px 12px rgba(0,0,0,.12);
}

.formation-container-max-width {
    max-width: 50%;
}


.formation-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    font-family: Roboto-Bold;
    min-width: 30vw;
    height: 65px;
    font-size: 1.25em;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-Bold;
    font-size: 1.25em;
    margin-top: 1%;
    transition: 0.25s;
}

.main-menu:hover {
    color: #03AF29;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.4;
    cursor: pointer;
    transition: 0.25s;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 53px;
    width: 6px;
    background-color: rgb(255, 255, 255);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


.formation-header-list {
    width: auto;
}

.formation-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: Roboto-Regular;
    margin: 4% 3%;
    font-size: 0.85rem;
    align-items: center;
}

.formation-content-list {
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.list-buttons-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15%;
    min-width: 35vw;
}

.arrow-position {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.day-text {
    font-family: Roboto-Bold;
    font-size: 1.25em;
    padding: 0.5% 4%;
}

.back-arrow {
    cursor: pointer;
    width: 5%;
    margin: 10px;
}

.left-position {
    align-items: flex-start;
}

.center-position {
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
}

.stock-font {
    font-family: Roboto-Bold;
    font-size: 1.75em;
}

.stock-link{
    cursor: pointer;
}

.day-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.day-data-position {
    display: flex;
    flex-direction: row;
}

.share-size {
    width: 5%;
    margin: 1% 5% 1% 0%;
    cursor: pointer;
}

.share-position {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.day-text-font {
    font-family: 'Roboto-Regular';
}

.day-text-font-margin {
    margin-left: 3%;
}

.addres-postion {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.stock-hit-list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    justify-content: center;
    align-items: center;
}

.entry-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100px;
    min-height: 30px;
    text-align: center;
    border: 2px solid rgba(216, 210, 210, 0.2);
    box-shadow: 0px 4px 4px rgba(175, 174, 174, 0.25);
    border-radius: 15px;
    margin: 1% 0%;
    cursor: pointer;
    transition: 0.5s;
}

.entry-item:hover {
    background-color: rgb(194, 220, 221);
}

.entry-item-date {
    width: 20%;
}

.entry-item-message {
    width: 80%;
}

.entry-item-comment {
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
}

.day-text-font-padding {
    padding: 1% 3%;
}

textarea {
    width: 70%;
    height: 150px;
    margin: 1% 0%;
    border: 1px solid #C9C3C3;
    font-family: 'Roboto';
    font-size: 1.25em;
}

.input-box {
    width: 50%;
    /* max-height: 60vh; */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #CACACA;
    margin: 1% 0% 5% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-top {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.prompt-background {
    background-color: rgba(83, 112, 169, 0.5);
    height: 100vh;
    margin-top: -1.5%;
}

input[type="password"],
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.25);
}

select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.input-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    margin: 2% 0%;
}

.confirmation-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    font-family: Roboto-Regular;
    font-size: 1.0em;
    color: #575757;
}

.input-container:first-child {
    margin: 4% 0% 2% 0%;
}

.input-center-text {
    align-items: center;
    margin: 1% 0%;
}

.cursor {
    cursor: pointer;
}

.auto-height {
    min-height: auto;
}


.width-10percent {
    width: 10%;
}

.account-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 1%;
}

.account-grid>input {
    width: 40%;
    justify-content: space-evenly;
}

.button-account {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    ;
    border: 1px solid #C4BCBC;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: Roboto-Regular;
    min-width: 25%;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1% 2%;
    word-break: break-all;
    cursor: pointer;
    margin: 3%;
    color: white;
    overflow-wrap: break-word;
}

.account-center-text {
    align-items: center;
    margin: 1% 8%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.account-center-text-edit {
    margin: 1% 0%;
}

.checkmark {
    font-size: 2em;
    color: #03AF29;
    font-weight: bold;
    padding: 5%;
}

.label-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-background {
    background-color: #6453A9;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    width: 0;
    height: 100vh;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    flex-direction: column;
}

.login-options-mobile-show {
    display: none;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #000000;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.charts-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-content: center;
    text-align: center;
}

.chart-row-position {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2%;
}

.chart-title {
    font-family: Roboto-Bold;
    font-size: 1.25em;
    padding: 5%;
}





@media only screen and (max-width: 768px) {

    .width-75{
        min-width: 75%;
        text-align: center;
        word-wrap: break-word;
    }

    .day-text {
        padding: 0%;
    }

    .share-size {
        margin: 1%
    }

    .base-position {
        padding: 0% 5% 1.5% 5%;
      }

    .candle-result-position{
        display: flex;
        flex-direction: column;
        padding: 1.5% 10% 1.5% 10%;
        width: 70vw;
    }
    
    .candle-result{
        padding: 5%;
        margin: 2%;
    }

    .clock-refresh-icon {
        width: 25px;
        padding: 1%;
    }

    .login-options-option {
        margin-right: 0%;
        margin: 5%;
    }

    .login-link {
        color: #ffffff;
    }

    .login-options {
        display: none;
    }

    .login-options-mobile {
        display: none;
    }

    .login-options-mobile-show {
        display: flex;
        position: absolute;
        top: 200px;
        font-size: 1.5em;
        width: 100%;
        justify-content: center;
    }

    .header-container {
        padding: 5% 4%;
    }

    .logo {
        width: 40%;
    }

    .menu-container {
        width: 20%;
    }

    .menu-bar {
        width: 46px;
        height: 5px;
        margin: 3px;
    }


    .user-icon-container {
        width: 10%;
        margin-right: 3%;
    }

    .user-icon {
        width: 100%;
    }

    .footer-font {
        font-size: 0.8em;
    }

    .copyright {
        font-size: 0.8em;
    }

    .index-stoc-container-wrapper {
        flex-direction: column;
    }

    .button-style-more {
        width: 35%;
    }

    .footer-space {
        padding: 0% 3%;
    }

    .stock-name-size {
        font-size: 1.25em;
    }

    .index-stock-container-data {
        font-size: 0.85em;
    }

    .newssocial-container {
        flex-direction: column;
    }

    .newsletter-container {
        width: 100%;
    }

    .socialmedia-container {
        width: 100%;
        height: 15vh;
    }

    .socialmedia-icon {
        max-width: 50px;
    }

    .newsletter-container {
        flex-direction: column;
    }

    .newsletter-position {
        width: 90%;
        min-height: 100px;
    }

    .button-with-shadow {
        margin: 3%;
        width: 26%;
        min-height: 45px;
    }

    .newsletter-input {
        min-height: 45px;
    }

    .formation-header {
        width: 70vw;
    }

    .formation-header-list {
        width: auto;
    }

    .button-style {
        font-size: 0.85em;
    }

    .button-with-shadow-list {
        width: auto;
        padding: 4% 10%;
    }

    .share-size {
        width: 7%;
    }

    .day-data-position {
        flex-direction: column;
    }

    .day-text {
        font-size: 1.0em;
    }

    .entry-item {
        flex-direction: column;
    }

    .entry-item-date {
        width: 100%;
    }

    .entry-item-comment {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .back-arrow {
        width: 8%;
    }

    .input-box {
        width: 90%;
    }

    .base-position-mobile {
        padding: 0%;
    }

    .account-grid {
        flex-direction: column;
        width: 100%;
    }

    .button-account {
        width: 45%;
    }

    .entry-item {
        width: 90%;
    }

    .min-height {
        min-height: 450px;
    }

    .index-stock-chart {
        min-width: 350px;
    }

    .charts-position {
        flex-direction: column;
    }

    .chart-row-position {
        min-width: 350px;
    }
    .formation-container-max-width {
        max-width: 100%;
    }

}